<!-- <router-outlet></router-outlet> -->

<!-- <app-sprite-animacion-tecnique> </app-sprite-animacion-tecnique> -->
<!-- <app-parallax-background></app-parallax-background> -->
<!-- <app-enemy-movement-pattern></app-enemy-movement-pattern> -->
<!-- <app-animation-trigger></app-animation-trigger> -->
<!-- <app-point-and-shoot></app-point-and-shoot> -->
<!-- <app-enemies-variety></app-enemies-variety> -->
<!-- <app-side-scroller></app-side-scroller> -->
<!-- <app-state-management></app-state-management> -->
<app-endless-runner></app-endless-runner>
<!-- <app-star-ship-fights></app-star-ship-fights> -->
